/* TODO integrate SASS */

.about_text {
  font-weight: bold;
}

.about_text:hover {
}

.card:hover {
  cursor: pointer;
  background-color: #007bff !important;
}
.card > span:hover {
  color: white !important;
}

.card_image {
  background-size: 40px;
  width: 40px;
  height: 40px;
  margin: auto;
}

.card_image-keep {
  background-image: url('../images/eye-gray.png');
}
.about_card.card_image-keep:hover {
  background-image: url('../images/eye-white.png');
}
.card_image-show {
  background-image: url('../images/heart-gray.png');
}
.about_card.card_image-show:hover {
  background-image: url('../images/heart-white.png');
}
.card_image-write {
  background-image: url('../images/review-gray.png');
}
.about_card.card_image-write:hover {
  background-image: url('../images/review-white.png');
}
.card_image-rate {
  background-image: url('../images/star-gray.png');
}
.about_card.card_image-rate:hover {
  background-image: url('../images/star-white.png');
}
.card_image-diary {
  background-image: url('../images/book-gray.png');
}
.about_card.card_image-diary:hover {
  background-image: url('../images/book-white.png');
}
.card_image-lists {
  background-image: url('../images/pen-gray.png');
}
.about_card.card_image-lists:hover {
  background-image: url('../images/pen-white.png');
}
