@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Noticia+Text:wght@400;700&family=Raleway:wght@700;900&display=swap');

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Noticia Text', serif;
  color: var(--color-text);
}

h1 {
  font-size: 2rem !important;
  margin-bottom: 8px !important;
}

p,
a,
.mpa_learn_more {
  font-family: 'Lato', sans-serif;
  color: var(--color-light-gray);
}

p {
  line-height: 1.5;
  font-size: 0.8rem;
}
ul,
li {
  list-style: none;
  margin-left: 0;
}

.nav_search {
  border-radius: 15px !important;
}

.nav-tabs,
.details_headers {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: var(--color-text);
  text-transform: uppercase;
}

.details_headers {
  font-size: 0.8rem;
  text-align: left;
}

.nav-tabs > a {
  color: var(--color-text);
}

.nav-tabs > a:hover {
  color: var(--color-light-gray);
}

.section_header {
  padding-top: 50px;
  border-bottom: 1px gray solid;
  padding-bottom: 5px;
  margin-bottom: 15px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-weight: 900;
  color: var(--color-text);
  font-size: 1rem;
}

.center {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 50px;
}

.background_container {
  width: 1280px;
  height: 800px;
  margin-left: -650px;
  position: absolute;
  top: 0;
  left: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/header-background.jpg');
  z-index: -1;
}

.background_container::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 830px;
  background: linear-gradient(to right, #14181c 0%, rgba(255, 255, 255, 0) 40%),
    linear-gradient(to left, #14181c 0%, rgba(255, 255, 255, 0) 40%),
    linear-gradient(to top, #14181c 30%, rgba(255, 255, 255, 0) 80%);
  pointer-events: none;
}

.background_wrapper {
  width: 1280px;
  height: 800px;
  margin-left: -650px;
  position: absolute;
  top: 0;
  left: 50%;
  background-position: center;
  background-repeat: no-repeat;
  /* background-image: url('../images/header-background-dunkirk.jpg'); */
  z-index: -1;
}

.background_wrapper > img {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.background_wrapper::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  pointer-events: none;
  width: 100%;
  height: 830px;
  background: linear-gradient(to right, #14181c 0%, rgba(255, 255, 255, 0) 40%),
    linear-gradient(to left, #14181c 0%, rgba(255, 255, 255, 0) 40%),
    linear-gradient(to top, #14181c 30%, rgba(255, 255, 255, 0) 80%),
    linear-gradient(to bottom, #14181c 0%, rgba(255, 255, 255, 0) 15%);
}

.container_navbar {
  height: 72px;
  position: relative;
}

section {
  position: relative;
  display: block;
}

.App {
  padding-top: 400px;
  background-image: none;
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 75%;
  /* left: 50%; */
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.not_found {
  text-align: center;
  font-family: 'Noticia Text', serif;
  color: var(--color-text);
}

.not_found_404 {
  font-size: 8rem;
  font-weight: bolder;
}

.not_found_subtitle {
  font-size: 3rem;
}

.not_found_search {
  font-size: 2rem;
}

.slowcut_footer {
  background-color: var(--color-dark-gray);
  color: var(--color-text);
  height: 200px;
  width: 100vw;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 50px;
}

.cast_profile_pic {
  border-radius: 4px;
  box-shadow: 0 0 3pt 2pt var(--color-light-gray);
}

.cast_header_intro {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  color: var(--color-light-gray);
  letter-spacing: 0.075em;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.mpa_ratings_modal {
  background-color: var(--color-dark-gray) !important;
}

.modal-content {
  background-color: var(--color-dark-gray) !important;
  box-shadow: 0 0 3pt 2pt var(--color-text);
}

.mpa_modal_heading {
  color: var(--color-text);
}
