.carousel_content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: -40px;
}

.poster,
.fallback_poster {
  display: inline-flex;
  margin: 0 0 5px 10px;
  width: 156px;
  list-style: none;
  background-color: gray;
  color: black;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
}

.poster-grid {
  width: 100px;
}

.poster-carousel {
  width: 170px;
}

@media (min-width: 950px) {
  .poster-carousel {
    width: 170px;
  }
}
@media (min-width: 993px) {
  .poster-carousel {
    width: 144px;
  }
}
@media (min-width: 1100px) {
  .poster-carousel {
    width: 142px;
  }
}
@media (min-width: 1200px) {
  .poster-carousel {
    width: 156px;
  }
}

.poster:focus,
.poster:hover {
  box-shadow: 0 0 0 2pt#007bff;
}

.poster > a > img {
  width: 100%;
  height: 100%;
}

.tooltip > div.tooltip-inner {
  background-color: #789 !important;
  color: @whitecolor !important;
}

.tooltip.show {
  opacity: 1 !important;
}

.tooltip > div.arrow::before {
  border-bottom-color: #789 !important;
  color: @whitecolor !important;
}
