.carousel_content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: -40px;
}

.poster > a > img {
  width: 100%;
  height: 100%;
}

.poster {
  width: 33%;
  max-width: 150px;
  max-height: 225px;
  flex-basis: 15%;
  list-style: none;
  background-color: gray;
  color: black;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
}

.poster:focus,
.poster:hover {
  box-shadow: 0 0 0 2pt#007bff;
}

.tooltip > div.tooltip-inner {
  background-color: #789 !important;
  color: @whitecolor !important;
}

.tooltip.show {
  opacity: 1 !important;
}

.tooltip > div.arrow::before {
  border-bottom-color: #789 !important;
  color: @whitecolor !important;
}
