.carousel_content {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-left: -40px;
}

.poster {
	width: 150px;
	height: 225px;
	background-color: gray;
	color: black;
	cursor: pointer;
	text-align: center;
}

.tooltip > div.tooltip-inner {
	background-color: #789 !important;
	color: @whitecolor !important;
}

.tooltip.show {
	opacity: 1 !important;
}

.tooltip > div.arrow::before {
	border-bottom-color: #789 !important;
	color: @whitecolor !important;
}
