.breadcrumb {
  font-size: 1.2rem;
  background-color: unset;
}
.badge-secondary {
  margin: 0.5em;
}
.meta {
  color: #789;
  font-size: 0.9rem;
  text-align: right;
}

.movie_detail_cast_popover {
  background-color: #789;
}

.movie_detail_poster {
  width: 100%;
  /* height: 225px; */
  background-color: gray;
  color: black;
  cursor: pointer;
  text-align: center;
}

.movie_detail_title {
  font-size: 2rem;
}

.movie_detail_backdrop_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
}

.movie_detail_backdrop_wrapper img::before {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;

  background-image: linear-gradient(
      90deg,
      #14181d 0,
      rgba(20, 24, 29, 0.98556487) 0.97%,
      rgba(20, 24, 29, 0.9451312) 2.07833333%,
      rgba(20, 24, 29, 0.88300656) 3.29666667%,
      rgba(20, 24, 29, 0.80349854) 4.60166667%,
      rgba(20, 24, 29, 0.71091472) 5.96666667%,
      rgba(20, 24, 29, 0.60956268) 7.365%,
      rgba(20, 24, 29, 0.50375) 8.77166667%,
      rgba(20, 24, 29, 0.39778426) 10.16%,
      rgba(20, 24, 29, 0.29597303) 11.505%,
      rgba(20, 24, 29, 0.20262391) 12.78%,
      rgba(20, 24, 29, 0.12204446) 13.95833333%,
      rgba(20, 24, 29, 0.05854227) 15.01666667%,
      rgba(20, 24, 29, 0.01642493) 15.92833333%,
      rgba(20, 24, 29, 0) 16.66666667%,
      rgba(20, 24, 29, 0) 83.33333333%,
      rgba(20, 24, 29, 0.01642493) 84.07166667%,
      rgba(20, 24, 29, 0.05854227) 84.98333333%,
      rgba(20, 24, 29, 0.12204446) 86.04166667%,
      rgba(20, 24, 29, 0.20262391) 87.22%,
      rgba(20, 24, 29, 0.29597303) 88.495%,
      rgba(20, 24, 29, 0.39778426) 89.84%,
      rgba(20, 24, 29, 0.50375) 91.22833333%,
      rgba(20, 24, 29, 0.60956268) 92.635%,
      rgba(20, 24, 29, 0.71091472) 94.03333333%,
      rgba(20, 24, 29, 0.80349854) 95.39833333%,
      rgba(20, 24, 29, 0.88300656) 96.70333333%,
      rgba(20, 24, 29, 0.9451312) 97.92166667%,
      rgba(20, 24, 29, 0.98556487) 99.03%,
      #14181d
    ),
    linear-gradient(
      0deg,
      #14181d 0,
      #14181d 21.48148148%,
      rgba(20, 24, 29, 0.98556487) 23.63703704%,
      rgba(20, 24, 29, 0.9451312) 26.1%,
      rgba(20, 24, 29, 0.88300656) 28.80740741%,
      rgba(20, 24, 29, 0.80349854) 31.70740741%,
      rgba(20, 24, 29, 0.71091472) 34.74074074%,
      rgba(20, 24, 29, 0.60956268) 37.84814815%,
      rgba(20, 24, 29, 0.50375) 40.97407407%,
      rgba(20, 24, 29, 0.39778426) 44.05925926%,
      rgba(20, 24, 29, 0.29597303) 47.04814815%,
      rgba(20, 24, 29, 0.20262391) 49.88148148%,
      rgba(20, 24, 29, 0.12204446) 52.5%,
      rgba(20, 24, 29, 0.05854227) 54.85185185%,
      rgba(20, 24, 29, 0.01642493) 56.87777778%,
      rgba(20, 24, 29, 0) 58.51851852%
    );
}
