/* Background image */

.movie_detail_backdrop_wrapper {
  width: 700px;
  height: 800px;
  margin-left: -375px;
  position: absolute;
  top: 0;
  left: 50%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

@media (min-width: 700px) {
  .movie_detail_backdrop_wrapper {
    width: 1100px;
    margin-left: -565px;
  }
}
@media (min-width: 1100px) {
  .movie_detail_backdrop_wrapper {
    width: 1280px;
  }
}

.movie_detail_backdrop_wrapper > img {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.movie_detail_backdrop_wrapper::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  pointer-events: none;
  width: 100%;
  height: 430px;
  background: linear-gradient(to right, #14181c 0%, rgba(255, 255, 255, 0) 40%),
    linear-gradient(to left, #14181c 0%, rgba(255, 255, 255, 0) 40%),
    linear-gradient(to top, #14181c 30%, rgba(255, 255, 255, 0) 80%);
}

.movie_detail_content_wrapper {
  padding-top: 200px;
}

@media (min-width: 700px) {
  .movie_detail_content_wrapper {
    padding-top: 400px;
  }
  .movie_detail_backdrop_wrapper::before {
    height: 830px;
  }
}

.badge-secondary {
  margin: 0.5em;
}

.meta {
  color: var(--color-light-gray);
  font-size: 0.9rem;
  text-align: right;
}

.movie_detail_cast_popover {
  background-color: var(--color-light-gray);
}

.movie_detail_poster {
  width: 100%;
  display: block;
  max-width: 350px;
  background-color: var(--color-medium-gray);
  color: black;
  cursor: pointer;
}

.movie_detail_title {
  font-size: 3rem;
  font-weight: bold;
  /* font-family: Helvetica, sans-serif; */
}
.movie_detail_cast,
.movie_detail_genres {
  margin-top: 16px;
}

.movie_detail_cast_badge,
.movie_detail_genre_badge {
  font-size: 1rem;
  box-shadow: #000 2px 0 5px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--color-medium-gray);
  color: var(--color-light-gray);
  padding: 8px 12px;
}

.movie_detail_tagline {
  margin-top: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.movie_detail_overview {
  font-size: 1rem;
  font-family: 'Noticia Text', serif;
}

.movie_detail_trailer_button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}

.just_watch {
  margin-top: 32px;
}

.movie_detail_watch_provider {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

.pagination-button {
  background-color: transparent;
  border: none;
}
