.nav {
	background-color: #14181c !important;
}

.white {
	color: #fff;
}

.background-white {
	background-color: white;
}

.nav_icon > img {
	display: inline-block;
	width: 30px;
	height: 35px;
	margin-right: 15px;
}

.nav_brand {
	font-family: "Noticia Text", serif;
  font-size: 1.4rem;
  margin-right: 25px;
}

.nav_link {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff
}
