.nav {
  background-color: #14181C !important;
}

.white {
  color: #fff
}

.background-white {
  background-color: white;
}

.nav_icon > img {
  display: inline-block;
  width: 30px;
  height: 35px;
  margin-right: 15px;
}

.nav_brand {
  font-size: 1rem;
}